
body
{
	background-color : silver ;
}

section#claculator_platform
{
	margin-left : 30px ;
}

div#result_zone
{
	width : 400px ;
	height : 95px ;
	overflow-y : scroll ;
	overflow-x : hidden ;
	border-top : 1px solid #fff ;
	border-radius : 40px ;
	background-color : silver ;
	padding-top : 15px ;
	padding-left : 25px ;
}

textarea#enter_zone
{
	margin-top : 0px ;
	width : 400px ;
	height : 35px ;
	background-color : silver ;
	border : 1px solid silver ;
	border-radius : 40px ;
	padding-top : 15px ;
	padding-left : 15px ;
	border-bottom : 1px solid #fff ;
}

div#keyboard_section
{
	box-shadow : 0px 0px 3px 3px #fff ;
	width : 390px ;
	margin-top : 30px ;
	border-radius : 8px ;
	height : 200px ;
	padding-top : 20px ;
	padding-left : 20px ;
}
table#keyboard
{
	width : 100% ;
}